.DS_Store
Thumbs.db

.idea/

/target/
/build/

/.m2/
/.gradle/

/.mvn/

logs/
*.log

*.tmp
*.bak
*.swp

*.iml
*.ipr
*.iws

*.jar
*.war

/mongo-data/

.vscode/
*.sublime-workspace
*.sublime-project

*.bak

*.key
*.pem

*.class
*.jar

/test-output/
*.h2.db

docker-compose.override.yml
docker-compose.yml
Dockerfile

*.war
*.jar

*.properties
*.yml

pgdata/

*.iml
